
<h3 class="page-header">
    Quản trị
</h3>
<ul class="list-group" id="admin-menu">
    <li class="list-group-item"><a href="@Url.Action("Index","Category")"><i class="glyphicon glyphicon-th-list"></i> Danh mục</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "GoldPoint")"><i class="glyphicon glyphicon-th-list"></i> Điểm vàng</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Sale")"><i class="glyphicon glyphicon-th-list"></i> Sale</a></li>
    <li class="list-group-item"><a href="@Url.Action("Index", "Event")"><i class="glyphicon glyphicon-th-list"></i> Sự kiện</a></li>
</ul>